#root {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}

/* BookShelf Component */
.bookCard, .bookShelfHeader  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #faebfc;
  border: 1px solid #000000; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #000000;
  min-width: 100vh;
}

.bookShelfHeader {
  font-weight: bold;
  padding: 5px;
  background-color: #e5cae3;
}

.book-image {
  margin-left: 40px;
}

.book-info {
  display: flex;
  flex-grow: 1;
  padding: 30px;
  justify-content: space-around;
  width: 100%;
}