#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #faebfc;
  border: 1px solid #000000; 
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #000000;
  width: 800px;
}

.bookShelfHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #faebfc;
  padding: 30px;
  border: 1px solid #000000; 
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #000000;
  width: 800px;
}

.book-image {
  margin-right: 15px;
}

.book-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

