#root {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BookShelf Component */
.bookCard, .bookShelfHeader  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #faebfc;
  border: 1px solid #000000; 
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #000000;
  width: 95%;
}

.bookShelfHeader {
  font-weight: bold;
}

.book-image {
  margin-left: 40px;
}

.book-info {
  display: flex;
  flex-grow: 1;
  padding: 30px;
  justify-content: space-around;
  width: 100%;
}