.popupContainer {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    gap: 20px;
    border: 2px solid black;
  }
  
  .popupContent {
    background: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px; /* Adjust as needed */
    
  }
 
  .popupButtons {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    margin-top: 15px; 
  }
  
  .cancelDeleteBtn, .deleteBtn {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    flex: 1;
  }
  
  
.deleteBtn {
    background-color: #ff4d4d; 
    color: white;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: rgb(157, 3, 3);  
  color: white;
  transition: background-color 0.3s ease;
}

.cancelDeleteBtn:hover {
    background-color: #24282c; 
    color: white;
    transition: background-color 0.3s ease;
}
