/* General Layout */
.addBookMain {
    min-height: 100vh; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-top: 30px;
}

.addBookHeader {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #ff83cb !important;
}

.form-group {
    width: 100%;
    max-width: 500px;
    border-radius: 8px; 
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}


.form-group input[type="text"],
.form-group textarea{
    width: 95.5%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical; 
    min-height: 80px;
}

.ratingContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-top: 10px;
}

.buttonGroup button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submitBtn {
    background-color: #ff83cb; 
    color: white;
    transition: background-color 0.3s ease;
    flex: 1;
}

.submitBtn:hover {
    background-color: #fa53b4; 
    color: white;
    transition: background-color 0.3s ease;
}

.cancelBtn, .popBtn {
    background-color: #343a40; 
    color: white;
    transition: background-color 0.3s ease;
    flex: 1;
}

.popBtn {
    background-color: #ff4d4d; 
}

.popBtn:hover {
    background-color: rgb(157, 3, 3);  
    color: white;
    transition: background-color 0.3s ease;
}

.cancelBtn:hover {
    background-color: #24282c; 
    color: white;
    transition: background-color 0.3s ease;
}

.addBookHeader {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #343a40;
}

.homeIcon {
    padding:6px;
}