nav {
    position: sticky;
    top: 0;
}

.bar {
    border: 1px solid #ffffff; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282424;
}

.logo {
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    padding-left: 1rem;
}

.searchFilter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addBook{
    padding-left: 1rem;
}

.profile{
    padding-right: 1rem;
}

.filterBtn {
    background-color: transparent; 
    border: 1px solid #ffffff(0, 0%, 100%); /* Same border */
    color: #ffffff; 
    padding: 8px 16px; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
    border-radius: 10px; /* Rounded edges */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}




.addBtn, .filterBtn, .profileBtn{
    border-color: #faebfc;
}

.addBtn:hover, .profileBtn:hover, .filterBtn:hover{
    background-color: #faebfc;
    color: #282424;
}

.searchArea {
    display: flex;
    align-items: center;
    gap: 10px;
}

