.bar {
    border: 1px solid #ffffff; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    padding-left: 1rem;
}

.searchFilter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.addBook{
    padding-right: 1rem;
}